.Main {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr min-content;
  overflow: auto;
}

.Nav {
  grid-row: 1;
  padding: 1rem;
  overflow:hidden;
}

.Content {
  grid-row: 2;
  height: 100%;
}

.Footer {
  grid-row: 3;
  padding-top: 1rem;
}